/* app/friends.css */
.friends-page {
  background-image: url('../../public/Images/Green_Wallpaper.png'); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px; /* Add padding to account for the fixed navbar */
}

.friends-card .front {
  background-size: cover;
  background-position: center;
}

.friends-card .back {
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}